.section3__img{
    width: 100%;
    text-align: center;

    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid palevioletred;
    }
}
.card-booody{
    p{
        color: gray;
    }
    h5{
        font-family: cursive;
    }
}